@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('/fonts/roboto-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/rubik-regular-webfont.woff2') format('woff2'),
        url('/fonts/rubik-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'trirong';
    src: url('/fonts/trirong-regular-webfont.woff2') format('woff2'),
        url('/fonts/trirong-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}


@font-face {
    font-family: 'simplifica';
    src: url('/fonts/simplifica_typeface-webfont.woff2') format('woff2'),
        url('/fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html, body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;

}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
  font-weight: normal;
  color: white;
  border: solid 1px black;
  display: inline-block;
  background-color: black;
  padding: 5px;
}

:focus {
    outline-width: 0;
}

button {


    padding: 12px 24px;
    border: none;
    font-size: 1.6em;
    font-family: "simplifica";
    color: black;
    background: none;


    cursor: pointer;
}
                        /* HEADING*/

header {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin: 0;
  height: 105px;
  background-color: white;
  border-bottom: solid 1px #e5e5e5;
  /* background-color: #b5e8d5; */
  /* background-image: url("/images/brightred.jpg"); */

  position: fixed;
  box-shadow: 2px 1px 10px #e5e5e5;
  z-index: 20;
  top: 0;
}
.title-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 30vw;
}

.title {
    width: 130px;
    fill:white;
}
.links {
    position: relative;
    border-top: 1px solid #e5e5e5;
    font-size: 1em;
}
.header-links {
    font-family: 'roboto';
}
.header-links:hover {
    text-decoration: underline;
}
.cart-button {
    display: flex;
    align-content: space-around;
    position: absolute;
    right: 10px;
    top: 0px;
}
/* .shopping-cart-image:hover {
    fill: blue;
    width: 300px;
} */

#twin-discount {
    color: red;
}

                        /* HOME STYLING*/
.splash {
    height: 400px;
    overflow: hidden;
    /* border-bottom: solid black 1px; */

    margin-top: 105px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: relative;
    top: 0;


}
.splash-image {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-content {
    height: 300px;
    background-color: #f7f7f7;

}
.splash-button {
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translate(-50%);

    padding: 12px 24px;

    font-size: 1em;
    text-align: center ;
    vertical-align: center;
    color: white;
    border: 1px solid white;
    background: none;
    letter-spacing: 2px;


    cursor: pointer;

}
.splash-button:hover {
  outline   : none;
  background:#FFF;
  color   :  rgba(0, 0, 0, 1);

}


                         /* CATALOG STYLING*/
.catalog {
    margin-top: 105px;
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 100px;
}

.catalog-item-container{
    background-color: white;
    width: 290px;
    padding: 10px 10px 30px 10px;
    margin: 20px 15px 20px 0px;
    text-align: center;
    /* box-shadow: 5px 5px 10px #e5e5e5;
    box-shadow: -5px -5px 10px #e5e5e5; */
    box-shadow: 0 0 10px #e5e5e5;

    position: relative;


}



}
.catalog-item-container:hover {
    border: 1px solid rgb(193, 186, 187);
    width: 288px;
    box-shadow: 5px 5px 5px 5px 10px #e5e5e5;

}




.catalog-item-picture {
    max-width: 80%;
    border: solid 1px #e5e5e5;

    opacity: 1;
    display: block;
    height: auto;
    transition: .9s ease;
    backface-visibility: hidden;
    margin-left: 10%;

}

.catalog-middle {
  transition: .9s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.catalog-item-container:hover .catalog-item-picture {
  opacity: 0.3;
}
.catalog-item-container:hover .catalog-middle {
  opacity: 1;
}
.catalog-text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/* container -catalog-item-container
    img-catalog-item-picture
    middle-catalog-middle
        text-catalog-text */





.add-cart-button {
    color: black;
}

                        /* CART STYLING*/

.cart {
    margin-top: 105px;
    width: 100%;
    margin-left: 30px;
}
.arrow-left {
    width: 0;
 height: 0;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;

 border-right:10px solid black;
 display: inline-block;
 margin-left: 20px;
 margin-top: 5px;

}

#continue-shopping {
    text-decoration: underline;
    display: inline-block;
    margin-left: 5px;

}

#continue-shopping:hover {
    color: #fa5402;
}
.cart-items {
    display: inline-block;
    /* flex-flow: row wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 50%;
    margin-left: 2vw;
    top: 0;
    height: 100%;
    vertical-align: top;

}
.cart-main {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;

}
.cart-item-container {
    display: -webkit-box;
    background-color: white;
    width: 40vw;
    border-top: 1px solid rgb(193, 186, 187);
    padding: 10px 10px 30px 10px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}
.cart-item-description {
    display: block;
    margin-left: -150px;
    margin-right: 10px;
}
.cart-item-quantity {
    display: flex;

}

.cart-item-picture {
    max-width: 40%;
    margin-left: -10vw;
}
.cart-summary {
    display: inline-block;
    /* left: 50%; */
    height: 430px;
    width: 300px;
    background-color: black;
    color: #efefef;
    margin-bottom: 20px;
    text-align: center;


}
.cart-total {
    text-align: center;
    /* width: 100%; */
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: solid 1px #373737;
}
#cart-title {
    border: solid 1px #eee;
    background-color: #eee;
    width: 40vw;
    height: 50px;
    text-align: center;
    vertical-align: center;
}
.cart-current-quantity {
    margin-top: 60px;
}
.checkout-button-container {
    border-top: solid 1px #373737;

}
.checkout-button {
    background-color: #fa5402;
    color: white;
    width: 80%;
    position: relative;
    font-size: 1em;
    margin-top: 10%;
}
.checkout-button:hover {
    background-color: #f99b6c;

}

                            /* PRODUCT PAGE STYLING*/
.item-page {
    margin-top: 105px;
    margin-left: 10px;
}
.item {
    display: flex;
    flex-flow: wrap;
}
.item-container {
    margin-top: 30px;
    display: block;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.item-image {
    max-width: 30vw;
    /* max-height: 51vh; */
    border: solid black 1px;
}
#item-description {
    max-width: 40vw;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}
#item-quantity {
    width: 20px;
    height: 20px;
    text-align: center;
}
.error-container {
    padding-top: 30px;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
}
.error-missing {
    position: absolute;
    left:50%;
    transform: translate(-50%);
}


                /* FOOTER*/


footer {
    display: block;
    left: 0;
     bottom: 0;
     width: 100%;
     height: 100px;
     background-color: black;
     color: #949494;
}
ul {
    display: inline-block;
    list-style-type: none;
}
li {
    cursor: pointer;
    /* width: 20vw; */
    font-size: .7em;
}
li:hover {
    color: white;
}
.social {
    display: inline-block;
    position: absolute;
    right: 20%;
}
.social-list > li {
    display: inline-block;
    margin-right: 10px;

}
.social-images {
    width: 25px;
}


                    /* DUMMY PAGES*/
.dummy-page {
    margin-top: 110px;
    height: 500px;
    position:relative;
}
.coming-soon {
    left: 50%;
    width: 40%;
    position: absolute;
    transform: translate(-50%);

}
.home-content {
    margin-bottom: 30px;
}

.home-content-box {
    position: relative;
    width: 60%;
    left: 20%;
    height: 250px;
    border: solid black 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    text-align: center;
    overflow: scroll;

}
                    /* MEDIA QUERIES*/

@media screen and (max-width: 1100px) {
    .cart-item-picture {
        margin-left: -180px;
    }
    .cart-current-quantity {
        margin-top: 51px;
    }
}
@media screen and (max-width: 800px) {
    .cart-item-container {
        display: block;
    }
    .cart-item-description {
        display: contents;
    }
    .cart-item-quantity {
        display: flex;
        flex-direction: row;
        margin-left: 25%;

    }
    .cart-current-quantity {
        margin-top: 15px;
    }
    .cart-item-picture {
        margin-left: 0px;
    }
}



@media screen and (max-width: 500px) {
    .header-links {
        font-size: 1em;
    }
    .social {
        right: 2%;
    }
    .cart-items {
        width: 80%;
    }
    .cart-summary {
        display: block;

    }
    .cart-item-quantity {
        display: flex;
        flex-direction: row;
        margin-left: 15%;

    }
}
